.hero_img-box img,
.hero_img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

.hero_content {
    padding-top: 3.5rem;
}

.hero_img-box{
    padding-top: 2rem;
}